<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <title>{{ .Site.Title }}</title>
        <meta name=author content="{{ .Site.Author.name }}">
        <meta name=description content="{{ .Site.Title }}">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel=stylesheet href="{{ .Site.BaseURL }}css/bulma-0.9.3.min.css">
        {{- block "head" . }}{{- end }}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        <main aria-role="main">
          <section class="section">
            {{- block "main" . }}{{- end }}
          </section>
        </main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
