{{ define "head" }}
<script type="application/ld+json">
      {
      "@context": "https://schema.org/",
      "@type": "Recipe",
      "name": "{{ .Title }}",
      "recipeIngredient": [{{ range $i, $e := .Params.recipe.recipeIngredient }}{{ if $i }},{{ end }}{{ $e }}{{ end }}],
      "recipeInstructions": [
      {{- range $i, $e := .Params.recipe.recipeInstructions }}
      {{- if $i }},{{ end }}
        {
          "@type": "HowToStep",
          "text": "{{ $e }}"
        }
      {{- end }}
      ],
      "recipeYield": "{{ .Params.recipe.recipeYield }}",
      "totalTime": "{{ .Params.recipe.totalTime }}"
      }
</script>
{{ end }}
{{ define "main" }}
<div class="columns">
  <div class="column is-full">
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle">{{ .Content }}</h2>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <h1 class="title">Zutaten</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Zutat</th>
        </tr>
      </thead>
      <tbody>
    {{- range .Params.recipe.recipeIngredient }}
        <tr>
          <td>{{ . }}</td>
        </tr>
    {{ end }}
      </tbody>
    </table>
  </div>
  <div class="column is-half">
    {{ with .Resources.ByType "image" }}
    {{ range . }}
    <figure class="image is-4by3">
        <img src="{{ .RelPermalink }}">
    {{ end }}
    {{ end }}
    </figure>
  </div>
</div>
<div class="columns">
  <div class="column is-full">
    <h1 class="title">Zubereitung</h1>
    <div class="notification is-warning is-light">
      Wichtig: Wie immer ist der erste Schritt die <a href="https://de.wikipedia.org/wiki/Mise_en_Place">Mise en Place</a>. Bereite alles vor, was du während des Kochens brauchen wirst.
    </div>

    <div class="content">
      <ol>
      {{- range .Params.recipe.recipeInstructions }}
        <li>{{ . }}</li>
      {{ end }}
      </ol>
    </div>

  </div>
</div>
{{ end }}
